<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RSG Inventory</title>
        <link rel="stylesheet" href="main.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/floating-vue@5.2.2/dist/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.1"></script>
        <script src="https://unpkg.com/floating-vue@5.2.2/dist/floating-vue.umd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <div id="app">
            <div class="inventory-container" v-if="isInventoryOpen" @mousemove="drag" @mouseup="endDrag" @mousedown="containerMouseDownAction">
                <div class="player-inventory-bg" :class="{ 'centered-player-inventory-bg': shouldCenterInventory }"></div>
                <div class="close-btn player-close-btn" :class="{ 'centered-close-btn': shouldCenterInventory }" @click="closeInventory" role="button" aria-label="Close inventory">Close</div>
                <div class="player-inventory-header" :class="{ 'centered-inventory-header': shouldCenterInventory }">
                    <div class="labels-container">
                        <div class="inventory-label">
                            <p>{{ inventoryLabel }}</p>
                        </div>
                        <div class="current-weight">
                            <img class="weight-icon" src="assets/weight.png" alt="weight" />
                            <p>{{ (playerWeight / 1000).toFixed(1) }} / {{ (maxWeight / 1000).toFixed(1) }}</p>
                        </div>
                        <div class="current-id">
                            <img class="id-icon" src="assets/id.png" alt="id" />
                            <p>{{ playerId }}</p>
                        </div>
                        <div class="current-money">
                            <img class="money-icon" src="assets/cash.png" alt="money" />
                            <p>${{ (playerMoney / 100).toFixed(2) }}</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="player-inventory" :class="{ 'centered-player-inventory': shouldCenterInventory }">
                    <div class="item-grid">
                        <div v-for="slot in totalSlots" :key="slot" class="item-slot" :data-slot="slot" :class="{ 'invalid-slot-highlight': errorSlot === slot }" @dblclick="getItemInSlot(slot, 'player') && useItem(getItemInSlot(slot, 'player'))" @mousedown="event => handleMouseDown(event, slot, 'player')">
                            <div class="item-slot-key" v-if="slot <= 5">
                                <p>{{ slot }}</p>
                            </div>
                            <div class="item-slot-img" v-if="getItemInSlot(slot, 'player')" @mouseenter="showItemInfo(getItemInSlot(slot, 'player'), $event)" @mouseleave="hideItemInfo()">
                                <img :src="'images/' + getItemInSlot(slot, 'player').image" alt="" />
                            </div>
                            <div class="item-slot-amount" v-if="getItemInSlot(slot, 'player')">
                                <p>x{{ getItemInSlot(slot, 'player').amount }}</p>
                            </div>
                            <div class="item-slot-durability" v-if="getItemInSlot(slot, 'player') && getItemInSlot(slot, 'player').info && 'quality' in getItemInSlot(slot, 'player').info">
                                <div
                                    class="item-slot-durability-fill"
                                    v-if="getItemInSlot(slot, 'player').info && 'quality' in getItemInSlot(slot, 'player').info"
                                    :style="{ width: (getItemInSlot(slot, 'player').info.quality / 100) * 100 + '%' }"
                                    :class="{
                                        'high': getItemInSlot(slot, 'player').info.quality > 75,
                                        'medium': getItemInSlot(slot, 'player').info.quality <= 75 && getItemInSlot(slot, 'player').info.quality > 25,
                                        'low': getItemInSlot(slot, 'player').info.quality <= 25
                                    }"
                                ></div>
                                <div class="item-slot-durability-fill" v-else style="width: 0%"></div>
                            </div>

                        </div>
                    </div>
                    <div class="divider below-grid"></div>
                </div>
                

                        <div class="item-info-container" v-if="selectedItem && !showContextMenu" :style="{ top: tooltipPosition.topVh + 'vh', left: tooltipPosition.leftVw + 'vw' }">
                    <div class="item-info-header">
                        <h3>{{ selectedItem.label }}</h3>
                    </div>
                    <div class="tooltip-divider"></div>
                    <div class="item-info-content">
                                <p v-if="selectedItem.info?.description" v-html="selectedItem.info.description"></p>
                                <p v-else-if="selectedItem.description" v-html="selectedItem.description"></p>
                                <div class="item-info-stats" v-if="selectedItem.info">
                                    <p v-if="selectedItem.info.quality">Quality: {{ selectedItem.info.quality }}%</p>
                                    <p v-if="selectedItem.info.weight">Weight: {{ (selectedItem.info.weight / 1000).toFixed(2) }}kg</p>
                        </div>
                    </div>
                    <div class="tooltip-weight">
                        <img class="tooltip-weight-icon" src="assets/weight.png" alt="weight" />
                        <span>{{ selectedItem.weight != null ? (selectedItem.weight / 1000).toFixed(2) : (selectedItem.info && selectedItem.info.weight ? (selectedItem.info.weight / 1000).toFixed(2) : 'N/A') }}kg</span>
                    </div>
                </div>
                <div class="input-container" v-if="!isOtherInventoryEmpty">
                    <div class="input-wrapper">
                        <input type="number" v-model="transferAmount" min="1" :placeholder="transferAmount === null ? 'amount' : ''" />
                        <button @click="clearTransferAmount" class="clear-button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="other-inventory-bg" v-if="!isOtherInventoryEmpty"></div>
                <div class="other-inventory-header" v-if="!isOtherInventoryEmpty">
                    <div class="labels-container">
                        <div class="inventory-label">
                            <p>{{ otherInventoryLabel }}</p>
                        </div>
                        <div class="current-weight">
                            <img class="weight-icon" src="assets/weight.png" alt="weight" />
                            <p>{{ (otherInventoryWeight / 1000).toFixed(1) }} / {{(otherInventoryMaxWeight / 1000).toFixed(1) }}</p>
                        </div>
                    </div>
                </div>
                <div class="divider" v-if="!isOtherInventoryEmpty"></div>
                <div class="other-inventory" v-if="!isOtherInventoryEmpty">
                    <div class="item-grid">
                        <div v-for="slot in otherInventorySlots" :key="slot" class="item-slot" :data-slot="slot" @mousedown="event => handleMouseDown(event, slot, 'other')" @dragover.prevent>
                            <div class="item-slot-img" v-if="getItemInSlot(slot, 'other')" @mouseenter="showItemInfo(getItemInSlot(slot, 'other'), $event)" @mouseleave="hideItemInfo()">
                            <img :src="'images/' + getItemInSlot(slot, 'other').image" alt="" />
                        </div>
                            <div class="item-slot-amount" v-if="getItemInSlot(slot, 'other') && typeof getItemInSlot(slot, 'other').amount === 'number'" :class="{'text-red': getItemInSlot(slot, 'other').amount < 1}">
                                <p>
                                    x{{ getItemInSlot(slot, 'other').amount }}{{ typeof getItemInSlot(slot, 'other').maxStock === 'number' ? '/' + getItemInSlot(slot, 'other').maxStock : '' }}
                                </p>
                            </div>
                            <div v-if="isShopInventory && getItemInSlot(slot, 'other') && getItemInSlot(slot, 'other').price" class="item-price">
                                <p>${{ Number(getItemInSlot(slot, 'other').price).toFixed(2) }}</p>
                            </div>
                            <div v-if="isShopInventory && getItemInSlot(slot, 'other') && getItemInSlot(slot, 'other').buyPrice" class="item-sell-price">
                                <p>Sell: ${{ Number(getItemInSlot(slot, 'other').buyPrice).toFixed(2) }}</p>
                            </div>
                            <div class="item-slot-durability" v-if="getItemInSlot(slot, 'other') && 'quality' in getItemInSlot(slot, 'other').info">
                                <div
                                    class="item-slot-durability-fill"
                                    v-if="getItemInSlot(slot, 'other').info && 'quality' in getItemInSlot(slot, 'other').info"
                                    :style="{ width: (getItemInSlot(slot, 'other').info.quality / 100) * 100 + '%' }"
                                    :class="{
                                        'high': getItemInSlot(slot, 'other').info.quality > 75,
                                        'medium': getItemInSlot(slot, 'other').info.quality <= 75 && getItemInSlot(slot, 'other').info.quality > 25,
                                        'low': getItemInSlot(slot, 'other').info.quality <= 25
                                    }"
                                ></div>
                                <div class="item-slot-durability-fill" v-else style="width: 0%"></div>
                            </div>

                        </div>
                    </div>
                    <div class="divider below-grid"></div>
                </div>
            </div>
            
            <div class="hotbar-container" v-if="showHotbar">
                <div class="hotbar">
                    <div v-for="slot in 5" :key="slot" class="item-slot">
                        <div class="item-slot-key">
                            <p>{{ slot }}</p>
                        </div>
                        <div class="item-slot-img" v-if="getHotbarItemInSlot(slot)">
                            <img :src="'images/' + getHotbarItemInSlot(slot).image" alt="" />
                        </div>
                        <div class="item-slot-amount" v-if="getHotbarItemInSlot(slot)">
                            <p>x{{ getHotbarItemInSlot(slot).amount }}</p>
                        </div>
                        <div class="item-slot-durability" v-if="getHotbarItemInSlot(slot) && 'quality' in getHotbarItemInSlot(slot).info">
                            <div
                                class="item-slot-durability-fill"
                                v-if="getHotbarItemInSlot(slot).info && 'quality' in getHotbarItemInSlot(slot).info"
                                :style="{ width: (getHotbarItemInSlot(slot).info.quality / 100) * 100 + '%' }"
                                :class="{
                                     'high': getHotbarItemInSlot(slot).info.quality > 75,
                                     'medium': getHotbarItemInSlot(slot).info.quality <= 75 && getHotbarItemInSlot(slot).info.quality > 25,
                                     'low': getHotbarItemInSlot(slot).info.quality <= 25
                                 }"
                            ></div>
                            <div class="item-slot-durability-fill" v-else style="width: 0%"></div>
                        </div>
                        <div class="item-slot-label" v-if="getHotbarItemInSlot(slot)">
                            <p>{{ getHotbarItemInSlot(slot).label }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="notification-container" v-if="showNotification">
                <div class="item-box">
                    <div class="item-box-icon">
                        <img :src="notificationImage" alt="" />
                        <div class="item-box-amount" v-if="notificationAmount && notificationAmount > 1">x{{ notificationAmount }}</div>
                    </div>
                    <div class="item-box-content">
                        <div class="item-box-type" :class="'type-' + notificationType.toLowerCase()">{{ notificationType }}</div>
                        <div class="item-box-divider"></div>
                        <div class="item-box-header">
                            <h4>{{ notificationText }}</h4>
                        </div>
                        <div class="item-box-description" v-if="notificationDescription">
                            <p v-html="notificationDescription"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="required-item-container" v-if="showRequiredItems">
                <div class="required-item">
                    <div v-for="(item, index) in requiredItems" :key="index" class="item-slot">
                        <div class="item-slot-img">
                            <img :src="'images/' + item.image" alt="" />
                        </div>
                        <div class="item-slot-label">
                            <p>{{ item.label }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="draggedItem" class="item-slot" :class="{ 'dragged-item': draggedItem }" :style="{ top: dragY + 'px', left: dragX + 'px' }">
                <div class="item-slot-img">
                    <img :src="'images/' + draggedItem.image" alt="" />
                </div>
                <div class="item-slot-amount">
                    <p>x{{ draggedItem.amount }}</p>
                </div>
                <div class="item-slot-label">
                    <p>{{ draggedItem.label }}</p>
                </div>
            </div>
            <ul v-if="showContextMenu" class="context-menu" :style="{ top: contextMenuPosition.top, left: contextMenuPosition.left }">
                <li v-if="contextMenuItem.useable" @click="useItem(contextMenuItem)">Use</li>
                <li @mouseover="showSubmenu = true" @mouseleave="showSubmenu = false">
                    Give
                    <ul v-if="showSubmenu" class="submenu">
                        <li @click="giveItem(contextMenuItem, 1)">Single</li>
                        <li @click="giveItem(contextMenuItem, 'half')">Half</li>
                        <li @click="giveItem(contextMenuItem, 'all')">All</li>
                        <li @click="giveItem(contextMenuItem, 'enteramount')">Amount</li>
                    </ul>
                </li>
                <li @mouseover="showSubmenu = true" @mouseleave="showSubmenu = false">
                    Drop
                    <ul v-if="showSubmenu" class="submenu">
                        <li @click="dropItem(contextMenuItem, 1)">Single</li>
                        <li @click="dropItem(contextMenuItem, 'half')">Half</li>
                        <li @click="dropItem(contextMenuItem, 'all')">All</li>
                        <li @click="dropItem(contextMenuItem, 'enteramount')">Amount</li>
                    </ul>
                </li>
                <li @mouseover="showSubmenu = true" @mouseleave="showSubmenu = false">
                    Split
                    <ul v-if="showSubmenu" class="submenu">
                        <li @click="splitAndPlaceItem(contextMenuItem, 'player', 1)">Single</li>
                        <li @click="splitAndPlaceItem(contextMenuItem, 'player', 'half')">Half</li>
                        <li @click="splitAndPlaceItem(contextMenuItem, 'player', 'enteramount')">Amount</li>
                    </ul>
                </li>
                <li v-if="contextMenuItem.name.includes('weapon_')" @click="copySerial(contextMenuItem)">Copy Serial</li>

            </ul>
        </div>
    </body>
</html>
